# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>

### Int & Float Assignments

##### Assigning int

In [1]:
# variable_name
my_number = 5

print(my_number)
print(type(my_number))

5
<class 'int'>

In [6]:
another_number = 123

print(another_number)
print(type(another_number))

123
<class 'int'>

##### Assinging float

In [4]:
my_float_number = 5.67

print(my_float_number)
print(type(my_float_number))

5.67
<class 'float'>

In [8]:
another_float = 6.

print(another_float)
(print(another_float))

6.0
6.0

#### Performing Calculations on ints and floats

##### Addition

In [11]:
#plus operator
num1 = 45
num2 = 90

result = num1 + num2

print(result)

print(type(result))

135
<class 'int'>

In [12]:
print(result)

result += 15

print(result)

135
150

##### Subtraction

In [14]:
# use the minus operator

difference = num1 - num2
print(difference)
print (type(difference))

-45
<class 'int'>

##### Multiplication

In [18]:
product = 12 * 7

print(product)
print(type(product))

84
<class 'int'>

##### Division

In [21]:
# use the forward slash (/)

#always results in a float

num3 = 50
num4 = 5

quotient = num3 / 4

print(quotient)
print(type(quotient))

12.5
<class 'float'>

##### Floor Division

In [26]:
#also referred to as Integer Division

# Floor is defined as the highest integer that is less than or equal to the value

result_normal = 15 / 4
print(result_normal)

#use the double stash(//)
result_floor = 15 // 4
print(result_floor)


#assignment Operator (//=)

result_floor//=2
print(result_floor)

3.75
3
1

##### Modulo

In [29]:


num5 = 48
num6 =5

result_mod = num5 % num6
print(result_mod)

#Assignment Operator (%=)

result_mod %=2
print(result_mod)

3
1

In [31]:
#determining if a number is even or odd

#If a number is even % 2 == 0
#If a number is odd % 2 != 0

some_number = 56

print(some_number % 2)

0

##### Exponential

In [35]:
# Use the double asterisk (**)

num7 = 5
num8 = 4

exponent = num7 ** num8
print(exponent)

# Assignment Operator (**=)

exponent **=2
print(exponent)

625
390625

### String Input-Output

##### String Assignment

In [37]:
#variable_name = 'string' - quotation marks ("" or '') tells python that it is a string

first_name = 'brian'

print(first_name)
print(type(first_name))

brian
<class 'str'>

In [38]:
# Quotation marks are necessary!!!
wrong = astring

NameError: name 'astring' is not defined

In [39]:
me = first_name

print(me)

brian

##### Escape Characters

In [40]:
contraction1 = "You can't do that"
print(contraction1)

You can't do that

In [41]:
contraction2 = 'you can't do that'
print(contraction2)

SyntaxError: unterminated string literal (detected at line 1) (1292364118.py, line 1)

In [43]:
#backslash before quotation - read it literally
contraction3 = 'you can\'t do that'

print(contraction3)

you can't do that

In [46]:
quote1 = 'he said, "how are you?"'
print(quote1)

he said, "how are you?"

In [49]:
quote2 = "He said, \"How are you?\""

print(quote2)

He said, "How are you?"

In [51]:
# \n - new line character
multi_line = "Hello \nHow are you?"
print(multi_line)

Hello
How are you?

In [52]:
# \t - tab character
tabbed = 'Hello\tWorld'
print(tabbed)

Hello	World

In [54]:
# Triple quoted string - string that starts and ends with 3 quotations (single or double)
#reads line spacing literally
triple = '''This is the first line
This is the second line
And this is the final line'''

print(triple)

This is the first line
This is the second line
And this is the final line

In [53]:
# Raw String - starts with r before the quotations marks (r'') or (r"")
#Read string literally - special characters are not special

raw_string = r"Dear Friend, \n\tI hope you are doing well."
print(raw_string)

Dear Friend, \n\tI hope you are doing well.

In [55]:
my_example = r'Brian/b'
print(my_example)

Brian/b

string_number = '123'

print(string number)
print(type(string_number))

##### String Concatenation

In [58]:
first = 'John'
last = 'smith'

#plus operator (+) between two strings -> return a NEW string with the two strings combined
full = first +' '+last
print(full)

# (+=) works for strings too!!

full += ', Jr.' #full = full + ',Jr.'

John smith

In [60]:
#Tells you what line you made an error on
num_a = 10 # integer
num_b = '10' #string

num_c = num_a + num_b
print(num_c)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

##### Type Conversion

In [61]:
print(num_a, type(num_a))
print(num_b, type(num_b))

10 <class 'int'>
10 <class 'str'>

In [63]:
#to convert< pass the value into the buily in type function (usually the class) -> will return a new object
#str for string, int for integer, float for floats, etc.

num_a_as_int = int(num_a)
print(num_a_as_int)
print(type(num_a_as_int))

#creats a new variable and object -> original value does not change
print(num_a, type(num_a))

10
<class 'int'>
10 <class 'int'>

In [65]:
num_c = int(num_a) + num_b

print(num_c)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [66]:
city = 'Chicago'

city_int = int(city)

ValueError: invalid literal for int() with base 10: 'Chicago'

In [67]:
pi = '3.14'

f_pi = float(pi)

print(pi)

3.14

##### .format() and f-strings

In [69]:
help(str.format)

Help on method_descriptor:

format(...)
    S.format(*args, **kwargs) -> str

    Return a formatted version of S, using substitutions from args and kwargs.
    The substitutions are identified by braces ('{' and '}').

In [90]:
first_name = 'Micheal'
last_name = 'Jordan'
city = 'Charlotte'
age = 60

intro_text = "hello, my name {} {} and I am from {} ". format(first_name, last_name, age, city)

print(intro_text)

hello, my name Micheal Jordan and I am from 60

In [91]:
#f-string - another way of formatting a string -> uses cirly braces witha variable name in them
# and a lowercase f before the string (f'') or (f"")

intro_text = f"hello, my name {first_name} {last_name} and I am from {city} ". format(first_name, last_name, age, city)

print(intro_text)

hello, my name Micheal Jordan and I am from Charlotte

In [93]:
# .format and f-string allows us to rin expression for format our string
add_age = f"hello, i am {first_name.upper()} and in 5 years I will be {}". format(first_name.upper(), age +5)
print (add_age)

SyntaxError: f-string: empty expression not allowed (3579930579.py, line 2)

##### Old Way (python 2)

In [80]:
print("Hello my name is %s and I am %s"% (first_name, city))

Hello my name is Micheal and I am Charlotte

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [98]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'

what_drive = "I drive a {} {} {} {} " .format(color, int(year) +1, make, model)

print(what_drive)

I drive a blue 2023 Ford Focus

### Booleans

In [99]:
bool_true = True
print(bool_true)
print(type(bool_true))

True
<class 'bool'>

In [100]:
bool_false = False
print(bool_false)
print(type(bool_false))

False
<class 'bool'>

### If Statements

In [101]:
# if <expression>:    <expresion>must result in a boolean (True or False) or object with (true/Falsy) value
#     <statement>

# INDENTATION MATTERS!!!!!!
#All lines that are indented under the if statement will only rin if the expression is true

if True:
    print('Hello this is a statement that is being run becayse the If evaluated to true')

Hello this is a statement that is being run becayse the If evaluated to true

In [102]:
if False:
    print('Hello this is another statement that will print if evaluated true')

In [105]:
print('start code...')

if True:
    print('Hello')
    print('How are you')
    
    print('End code....')

start code...
Hello
How are you
End code....

In [112]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

num1 = 10
num2 = 5
num3 = 2


print(num1 > num2)
print(num2 < num3)
print(num1 == num2 * num3)
print(num1 >= num2 * num3)
print(num1 <= num2 * num3)
print(num1 != num2)
print(num1 != num2 * num3)

True
False
True
True
True
True
False

In [118]:
if num1 > num2: #true
    print(f"{num1} is greater than {num2}")
    
if num1 < num3: #false
    print(f"{num1} is less than {num3}")
    
if num1 > num2 * num3: #true
    print(f"{num1} is greater than or equal to {num2} times {num3}")

10 is greater than 5

## Using 'and'/'or' with If Statements

In [121]:
# Truth Tree for OR:
# T or T = T
# T or F = T
# F or T = T
# F or F = F

# To pass through to the next round, a student needs at least a 2.5 GPA or at least a 25 ACT

potential_candidate_gpa = 1.0
potential_candidate_act = 10

#logic for passing a student
if potential_candidate_gpa >= 2.5 or potential_candidate_act >= 25:
    print('Student meets the minimum requirements, move on to the next round...')
else:
    print('Reject student....')

Reject student....

In [122]:
# Truth Tree for AND:
# T and T = T
# T and F = F
# F and T = F
# F and F = F


potential_candidate_gpa = 4.0
potential_candidate_act = 10

#logic for passing a student
if potential_candidate_gpa >= 2.5 and potential_candidate_act >= 25:
    print('Student meets the minimum requirements, move on to the next round...')
else:
    print('Reject student....')

Reject student....

In [126]:
number = 5

if number == 1 or number == 7:
    print('The number is 1 or 7')
else:
    print(f"Not 1 or 7, the number is {number}")

Not 1 or 7, the number is 5

### Else Statements

In [128]:
# An else statement runs when the if statement above it evaluates to False

age = 14

if age >= 18:
    print('You are eligible to vote')
else:
    print('You are still too young to vote')

You are still too young to vote

### Elif Statements

In [133]:
# An elif only runs when the if (or elif) directly above it evaluates to False

# Pretend we are checking tickets at the movie theater for an R-Rated movie
# If the movie goer is above 18, just say thanks and enjoy the show
# if the movie goer is above 14, check if they have a parent with them, can see if so
# no movie goers under 14 or under 18 without parent

required_age = 18
with_parent_age = 14

customer_age = 16
has_parent = True

if customer_age >= required_age:
    print('thanks and enjoy the show!')
elif customer_age >= with_parent_age and has_parent:
    print('Cool, enjoy the movie with the folks!')
elif customer_age >= with_parent_age and not has_parent:
    print('you are old enough to see this a parent, but i do not see one here...')
else:
    print('You cannot see this film until you are older')

Cool, enjoy the movie with the folks!

In [ ]:
age =10 
if age < 18:
    drink_choice = 'toddy'
elif age < 21:
    drink choice = 'coke'
elif age

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (under 0-9) are half off. Print out the ticket price at the end</p>

In [136]:
# 72 47 8
ticket = 10
person_age = 60 

if person_age >= 65: 
    tickets = *= 7.50 ("Your ticket is $5.00")
        print("Your ticket is $7.50")

elif: person_age <= 9: 
    Your ticket is $5.00
        print("Your ticket is $5.00")
else: ticket = $10
    print("Your ticket is $10.00")

SyntaxError: invalid syntax (3539447967.py, line 6)

### Lists

##### Declaring Lists

In [138]:
# Ordered collection of data; indexable; mutable; iterable; elements of the list can be of any data type

list_1 = [] # Empty list declation

print(list_1)
print(type(list_1))

[]
<class 'list'>

In [139]:
names = ['Dan', 'Catherine', 'William', 'Laura', 'Hanna', 'Jack']
print(names)
print(type(names))

['Dan', 'Catherine', 'William', 'Laura', 'Hanna', 'Jack']
<class 'list'>

##### Indexing a List

In [149]:
# lists_var [start: stop: step] - start os INclusive, stop is Exclusive
# 0-based index (indices will always start at 0 -> Length of list -1)
# Makes a copt, original list is inaffected

#single element - list_var[index]
print(names[1])

#negative numbers start from the back of the list
print(names[-1])

#slicing a list -> grabbing part of a list

#slicing the list from the 2nd element to the end (leaving the stop empty will default to the end of the list)
print(names[1:])

#slice the list from the second element to the fifth element
print(names[1:5])

#slice from the beginning of the list to the 4th element (leaving start empty to the start at beginning)
print(names[:4])

#slice the whole list - an easy way to make a copy of the list
print(names[:])

# slice every other element in the list
print(names[::2])

#negative steps will walk backwardsthrough the list - an easy way to make a reversed copy of a list
print(names[::-1])

#combo time!
print(names[1:5:2])

Catherine
Jack
['Catherine', 'William', 'Laura', 'Hanna', 'Jack']
['Catherine', 'William', 'Laura', 'Hanna']
['Dan', 'Catherine', 'William', 'Laura']
['Dan', 'Catherine', 'William', 'Laura', 'Hanna', 'Jack']
['Dan', 'William', 'Hanna']
['Jack', 'Hanna', 'Laura', 'William', 'Catherine', 'Dan']
['Catherine', 'Laura']

In [152]:
#lists are mutable - means you can change the values using item assignment
#item assignment - list_var[index] = value

print(names)

names[2] = 'Billy'

print(names)

['Dan', 'Catherine', 'Billy', 'Laura', 'Hanna', 'Jack']
['Dan', 'Catherine', 'Billy', 'Laura', 'Hanna', 'Jack']

##### .append()

In [154]:
# list_var.append(value) adds the value to the end of the list
print(names)

names.append('Sarah')

print(names)

['Dan', 'Catherine', 'Billy', 'Laura', 'Hanna', 'Jack', 'Sarah']
['Dan', 'Catherine', 'Billy', 'Laura', 'Hanna', 'Jack', 'Sarah', 'Sarah']

In [ ]:
#strings are IMMUTABLE -

##### .insert()

In [155]:
# list.insert(index,value)

print(names)

names.insert(2, 'Julian')

print(names)

['Dan', 'Catherine', 'Billy', 'Laura', 'Hanna', 'Jack', 'Sarah', 'Sarah']
['Dan', 'Catherine', 'Julian', 'Billy', 'Laura', 'Hanna', 'Jack', 'Sarah', 'Sarah']

##### .pop()

In [157]:
# default is the last value if no parameter is given
# list_var.pop() -> pop returns the element that was removed in case you want to assign it into a variable

print(names)

last_element = names.pop()

print(names)

print(f"The elemtnt that was removed : {last_element}")

['Dan', 'Catherine', 'Julian', 'Billy', 'Laura', 'Hanna', 'Jack', 'Sarah', 'Sarah']
['Dan', 'Catherine', 'Julian', 'Billy', 'Laura', 'Hanna', 'Jack', 'Sarah']
The elemtnt that was removed : Sarah


##### .remove()

In [158]:
# value to be removed , not index
#list_var.removed(value) -> will remove the first instance of that value

names.remove('Billy')

print(names)

['Dan', 'Catherine', 'Julian', 'Laura', 'Hanna', 'Jack', 'Sarah']

##### del()

In [159]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully

print(names)

del names[2]

print(names)

['Dan', 'Catherine', 'Julian', 'Laura', 'Hanna', 'Jack', 'Sarah']
['Dan', 'Catherine', 'Laura', 'Hanna', 'Jack', 'Sarah']

##### Concatenating Two Lists

In [160]:
# Plus operator (+) between two lists together, not add up the elements in each list
# will append two lists together, not add up the elements in each list

list_a = [1,2,3,4]
list_b = [5,6,7,8]

list_c = list_a + list_b

print(list_c)

[1, 2, 3, 4, 5, 6, 7, 8]

##### Lists Within Lists

In [ ]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

### For Loops

In [ ]:
# for <keyword> in <iterable>:
#     <statement>

##### Continue Statement

In [ ]:
# will continue to next iteration

##### Break Statement

In [ ]:
# will break out of current loop

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Nested/Double For Loops

### While Loops

In [ ]:
# while <conditional>:
#     <statement to run while condition is true>

##### Looping 'While True'

### Built-In Functions

##### input()

In [ ]:
# input(question) => ALWAYS RETURNS A STRING

##### range()

In [ ]:
#Start, Stop, Step

##### len()

In [ ]:
# check Length of variable

##### help()

In [ ]:
# Use this function to view more info about a python function (With a DOCSTRING)

##### isinstance()

In [ ]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

##### Looping Through Lists

In [ ]:
# two ways to loop through a list, using range for index and in for values

# Loop with a for loop (By Index)

    
# Loop with a for loop (Using the 'in' keyword)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
list_num = []

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>